.symbolsList{
    background-color: #FFC50F;
    display: flex;
    justify-content: space-between;
}

.usSymbols{
    width: 30%
}

.forexSymbols{
    width: 30%
}

.cryptoSymbols{
    width: 30%
}

.card{
    border-color: black;
}