.main-container{
    background-color: #FFC50F;
    height: 100%;
}
#title{
    text-align: center;
}

#form{
    text-align: center;

}

#search{
    font-size: 18px;
}

#userInput{
    font-size: 18px;
}

.market-container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1.5rem;
}

.crypto-container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1.5rem;
}

.forex-container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1.5rem;
}

#newsCards{
    height: 250px;
}